services:
  - type: web
    name: arbitrage-scanner
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    plan: free
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: MEXC_API_KEY
        sync: false
      - key: MEXC_API_SECRET
        sync: false
      - key: BITGET_API_KEY
        sync: false
      - key: BITGET_API_SECRET
        sync: false
      - key: BITGET_API_PASSPHRASE
        sync: false
      - key: CHAT_ID
        sync: false
    autoDeploy: true
    healthCheckPath: /
    region: frankfurt
